.techText {
    color: black;
    font-size: 15px;
    opacity: 60%;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.07px;
    word-wrap: break-word;
}
.techText1 {
    color: black;
    font-size: 36px;
    opacity: 80%;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0.18px;
    word-wrap: break-word;
}
.techText2 {
    color: #878787;
    font-size: 25.77px;

    font-weight: 400;
    line-height: 38.66px;
    letter-spacing: 0.13px;
    word-wrap: break-word;
}

.teamText {
    color: #1a1a1a;
    font-size: 40px;

    font-weight: 500;
    line-height: 46.84px;
    letter-spacing: 0.19px;
    word-wrap: break-word;
}

.text0 {
    color: #1a1a1a;
    font-size: 46.39px;

    font-weight: 500;
    line-height: 56.7px;
    letter-spacing: 0.23px;
    word-wrap: break-word;
}

.text1 {
    color: #878787;
    font-size: 25.77px;

    font-weight: 400;
    line-height: 38.66px;
    letter-spacing: 0.13px;
    word-wrap: break-word;
}

@media (max-width: 500px) {
    .text1 {
        color: black;
        font-size: 15px;

        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.2px;
        word-wrap: break-word;
    }
    .text0 {
        color: #1a1a1a;
        font-size: 28px;

        font-weight: 500;
        line-height: 46.67px;
        letter-spacing: 0.19px;
        word-wrap: break-word;
    }
    .teamText {
        color: #1a1a1a;
        font-size: 22px;

        font-weight: 500;
        line-height: 46.84px;
        letter-spacing: 0.19px;
        word-wrap: break-word;
    }
    .techText {
        color: #878787;
        font-size: 10px;

        font-weight: 400;
        line-height: 23.33px;
        letter-spacing: 0.08px;
        word-wrap: break-word;
    }
    .techText1 {
        color: #1a1a1a;
        font-size: 21px;

        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0.19px;
        word-wrap: break-word;
    }
    .techText2 {
        color: #878787;
        font-size: 17px;

        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.11px;
        word-wrap: break-word;
    }
    .topImage {
        height: 333px;
    }
}
@media (min-width: 500px) and (max-width: 834px) {
    .text1 {
        color: black;
        font-size: 21.21px;

        font-weight: 400;
        line-height: 31.82px;
        letter-spacing: 0.11px;
        word-wrap: break-word;
    }
    .text0 {
        color: #1a1a1a;
        font-size: 38.18px;

        font-weight: 500;
        line-height: 46.67px;
        letter-spacing: 0.19px;
        word-wrap: break-word;
    }
    .teamText {
        color: #1a1a1a;
        font-size: 30px;

        font-weight: 500;
        line-height: 46.84px;
        letter-spacing: 0.19px;
        word-wrap: break-word;
    }
    .techText {
        color: #878787;
        font-size: 15.91px;

        font-weight: 400;
        line-height: 23.33px;
        letter-spacing: 0.08px;
        word-wrap: break-word;
    }
    .techText1 {
        color: #1a1a1a;
        font-size: 28px;

        font-weight: 500;
        line-height: 46.67px;
        letter-spacing: 0.19px;
        word-wrap: break-word;
    }
    .techText2 {
        color: #878787;
        font-size: 21.21px;

        font-weight: 400;
        line-height: 31.82px;
        letter-spacing: 0.11px;
        word-wrap: break-word;
    }
    .topImage {
        height: 533px;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideInFromRight1 {
    animation: slideInFromRight 2s ease-in-out;
}

.hoverEffect:hover {
    -webkit-animation: hoverEffect 0.7s ease-out both;
    animation: hoverEffect 0.7s ease-out both;
}

@-webkit-keyframes hoverEffect {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.1) translateY(-15px);
        transform: scale(1.1) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
@keyframes hoverEffect {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.1) translateY(-15px);
        transform: scale(1.1) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
.information {
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0);
}

/* Scrollbar color */
.information::-webkit-scrollbar {
    width: 8px;
}

.information::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}

.information::-webkit-scrollbar-track {
    background-color: transparent;
}
