/* ExpandingButton.module.css */
.expandingButton {
    padding: 10px 20px;
    background-color: #b4cd93;
    opacity: 80%;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 4px;
}
.expandingButton:hover {
    background-color: #a1bb7f;
}

.expandingDiv {
    width: 100px;
    height: 100px;
    background-color: #b4cd93;
    opacity: 70%;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 0.8s, width 0.8s, height 0.8s;
}

.expanded {
    clip-path: circle(100% at 50% 50%);
    width: 400px;
    height: 400px;
    border-radius: 4px;
}
