@media (max-width: 470px) {
    .formHeight {
        padding-top: 80px;
        margin-bottom: 80px;
    }
}

.emptyInput {
    border: 2px solid red;
    animation: flash 5s linear;
}

@keyframes flash {
    0%,
    50% {
        border-color: red;
    }
    25%,
    75% {
        border-color: transparent;
    }
    100% {
        border-color: red;
    }
}
