.listItem {
    animation: wave 3s linear, opacityChange 1.5s linear;
}

@keyframes wave {
    0% {
        max-height: 0;
    }

    80% {
        max-height: 200px;
    }
}
@keyframes opacityChange {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
