@media (max-width: 640px) {
    .calendarContainer {
        position: fixed;
        bottom: 0; /* Initially hide the calendar below the screen */
        left: 0;
        right: 0;
        height: 250px;
        z-index: 9999;
    }

    .locationChange {
        position: fixed;
        bottom: 18%;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    .fadeIn {
        -webkit-animation: fadeIn 1s cubic-bezier(0.25, 0.77, 0.45, 0.94) both;
        animation: fadeIn 1s cubic-bezier(0.25, 0.77, 0.45, 0.94) both;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    @-webkit-keyframes fadeIn {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
.selectedType {
    background-color: #e53e3e;
}

.information {
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.3);
}

/* Scrollbar color */
.information::-webkit-scrollbar {
    width: 8px;
}

.information::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.information::-webkit-scrollbar-track {
    background-color: transparent;
}
