@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Restora ExtraLight";
    src: url("/nasir-udin-restoraextralight.otf") format("opentype");
}

body {
    background-color: #e6f5e4;
    font-family: "Restora ExtraLight", "sans-serif";
    overflow-x: hidden;
    color: black;
}

.tinyText {
    font-size: 0.95rem;
}

@media (min-width: 400px) and (max-width: 1123px) {
    .md-center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
.morphingSVGHidden {
    visibility: hidden;
}
@media (max-width: 400px) {
    .morphingSVGHidden {
        visibility: visible;
    }
}

@media (min-width: 200px) and (max-width: 900px) {
    .morphingSVG {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 100px) and (max-width: 600px) {
    .sm-center {
        text-align: center;
    }
}

@media (min-width: 100px) and (max-width: 380px) {
    .sm-types {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        max-width: fit-content;
        margin: 0 auto;
    }

    .sm-button {
        display: block;
        margin: 0 auto 2rem;
        text-align: center;
    }

    .sm-text {
        margin: 0 auto;
        text-align: center;
        font-size: x-large;
    }

    .sm-col {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: left;
    }

    .sm-col-2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .sm-col-3 {
        margin-top: 10rem;
    }
}
@media (min-width: 1014px) {
    .gallery-lg {
        margin-top: 12rem;
    }
}
@media (max-width: 440px) {
    .eventButtons {
        width: 12rem;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}
.slide-content {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.swiper-slide-active .slide-content {
    opacity: 1;
}

/*background color transition*/
.buttonTransition {
    background: #2e7eaa;
    z-index: 1;
    color: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.5s;
}

.buttonTransition:hover {
    color: black;
}

.buttonTransition::after {
    content: "Sign up";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #e6f5e4, #e6f5e4);
    transition:
        left 0.8s,
        clip-path 1s;
    clip-path: polygon(
        0 0,
        60% 0,
        100% 0,
        100% 50%,
        100% 100%,
        60% 100%,
        0 100%
    );
}

.buttonTransition:hover::after {
    left: 0;
    clip-path: polygon(
        0% 15%,
        60% 15%,
        60% 0%,
        100% 50%,
        60% 100%,
        60% 85%,
        0% 85%
    );
}
.buttonTransition:hover + .secondButton {
    transform: translateX(-150px);
}

.secondButton {
    transition: all 0.6s ease;
}

/*scroll bar*/
.scrollBar {
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.3);
}

/* Scrollbar color */
.scrollBar::-webkit-scrollbar {
    width: 8px;
}

.scrollBar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.scrollBar::-webkit-scrollbar-track {
    background-color: transparent;
}
