@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body {
    background-color: white;
    font-family: "Rubik";
    overflow-x: hidden;
}

.tinyText {
    font-size: 0.95rem;
}

@media (min-width: 400px) and (max-width: 1123px) {
    .md-center-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 100px) and (max-width: 600px) {
    .sm-center {
        text-align: center;
    }
}
