/* ImageSquare */
.bottomLeft {
    -webkit-animation: bottomLeft 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: bottomLeft 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes bottomLeft {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}
@keyframes bottomLeft {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}
.bottomRight {
    -webkit-animation: bottomRight 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: bottomRight 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes bottomRight {
    0% {
        -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
        transform: translateX(800px) rotateY(-30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: -1800px 50%;
        transform-origin: -1800px 50%;
        opacity: 1;
    }
}
@keyframes bottomRight {
    0% {
        -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
        transform: translateX(800px) rotateY(-30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: -1800px 50%;
        transform-origin: -1800px 50%;
        opacity: 1;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageSquare {
    background: linear-gradient(
        0deg,
        rgba(253, 168, 85, 0.2) 0%,
        rgba(253, 168, 85, 0.2) 100%
    );
    border-radius: 8px;
}

@keyframes slideInRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 360deg);
    }
}
.animateSpin {
    animation: slidInLeft 1s;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.visible {
    animation: slideInRight 1.5s ease-in-out;
    animation-fill-mode: both;
    transform-origin: center center;
}

.invisible {
    visibility: hidden;
}
.text {
    animation: slideInRight 1.5s ease-in-out;
}
.slideleft {
    animation: slideInLeft 1.3s ease-in-out;
    animation-fill-mode: both;
    transform-origin: center center;
}
.gallerySlide {
    animation: slideInLeft 1.3s ease-in-out;
    animation-fill-mode: both;
    animation-duration: 1.3s;
}

.img {
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@media (max-width: 490px) {
    .image {
        width: 144px;
        height: 144px;
    }
    .change {
        width: 320px;
        min-height: 220px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 100%;
        height: 180vh;
    }

    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }
    .imageSquare {
        width: 344px;
        height: 344px;
        background: linear-gradient(
            0deg,
            rgba(253, 168, 85, 0.2) 0%,
            rgba(253, 168, 85, 0.2) 100%
        );
        border-radius: 8px;
    }
}
