.container {
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/giphy.gif");
    background-repeat: repeat;
    background-size: cover;
    animation: moveBackground 5s linear infinite;
}

@keyframes moveBackground {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
