/* YourComponent.module.css */

.svg path {
    animation: pathAnim 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.svg path:nth-child(1) {
    animation-delay: 100ms;
}
.svg path:nth-child(2) {
    animation-play-state: paused;
}
.svg path:nth-child(3) {
    animation-timing-function: ease-out;
}
/* .svg path:nth-child(4){
	animation-play-state: paused;
} */

@keyframes pathAnim {
    0% {
        d: path(
            "M0,192	C220,100,440,100,660,192 C880,290,1100,290,1320,192	L1320 500 L0 500"
        );
    }
    25% {
        d: path(
            "M0,100	C220,100,440,292,660,292 C880,292,1100,100,1320,100	L1320 500 L0 500"
        );
    }
    50% {
        d: path(
            "M0,192	C220,290,440,290,660,192 C880,100,1100,100,1320,192	L1320 500 L0 500"
        );
    }
    75% {
        d: path(
            "M0,292	C220,292,440,100,660,100 C880,100,1100,292,1320,292	L1320 500 L0 500"
        );
    }
    100% {
        d: path(
            "M0,192	C220,100,440,100,660,192 C880,290,1100,290,1320,192	L1320 500 L0 500"
        );
    }
}
@media (max-width: 490px) {
    .svg {
        height: 1005px;
    }
}
